:root {
  --main-bg-color: #F8F8FA;
  --main-card-title-color: #224067;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--main-bg-color);
    line-height: 2rem;
}
a {
    text-decoration: none;
}

.header{
    /* background-color: rgb(255, 255, 255); */
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    padding-left: 1rem;
    
}

.header h1{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .8rem;
    letter-spacing: 3px;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: .5rem;
}

.header h2{
    margin-top: .5rem;
    margin-bottom: 0;
    padding-bottom: .5rem;
    font-weight: 300;
    letter-spacing: 3px;
}
.nav {
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: start;
}

.nav ul{
    display: flex;
}

.nav li{
    display: inline;
    flex-wrap: nowrap;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}


.nav a {
    color: #cecece;
    transition-duration: .2s;
}

.nav a:hover{
    color: rgb(255, 255, 255);
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
    margin: 3rem;
}

.nav-left {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    
    background-color: rgb(22, 22, 22);

}
.menu{
    visibility: hidden;
    padding-inline-end: .1rem;
    width: 50px;
    height: 50px;
}

.hidden{
    visibility: hidden;
}
.nav.responsive ul{
        display: block;
        margin: 0rem;
        padding-left: 0rem;
}
.nav.responsive li {
        margin-left: 0;
        padding-left: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: block;
}
/* MEDIA QUERIES */
/* MOBILE: UNDER 475 */
@media only screen and (max-width: 475px) {
    
    .nav {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .nav.show ul{
        visibility: hidden;
    }
    .nav.hide ul{
        visibility: visible;
    }
    
    .nav ul{
        display: block;
        margin: 0rem;
        padding-left: 0rem;
    }
    .nav li{
        margin-left: 0;
        padding-left: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: block;
    }
    .header h1{
        font-size: 2rem;
    }

    .menu {
        visibility: visible;
        position: relative;
        top: .4rem;
    }
}